* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:lightslategray;
}


.box {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    width: 600px;
    
}

nav {
    width:100%;
    top: 10px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    width: 400px;
    height: 300px;
    margin: 5px;
}

img:hover {
    border: 1px solid yellow;
}

a:link{
    color: greenyellow;
}
a:visited{
    color: green;
}

a:hover{
    color:yellow;
}
a:active{
    color: yellow;
}