* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

p {
    width: 600px;
}

nav {
    width:100%;
    top: 10px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


img {
    width: 400px;
    height: 300px;
}
